 {% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LMS</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "landing_page/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom fonts-->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{% static "landing_page/css/one-page-wonder.css" %}" rel="stylesheet">

      <style>
          .how{
              background-image: url("{% static "landing_page/images/design.svg" %}");
          }

          .scrollup{
			background: url("{% static "landing_page/images/icon_top.png" %}") no-repeat;
		}

      </style>


  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Log In</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-left text-white">
     <img src="{% static "landing_page/images/hero.png" %}" alt="hero_image" width="550px" style="float:right;position: absolute;top:20%;;right:4%;">
      <div class="masthead-content">

        <div class="container ">

          <h1 class="masthead-heading mb-0">Manage Your Class</h1>
          <h2 class="masthead-subheading mb-0">In A Better Way</h2>
          <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Signup Now</a>

        </div>
      </div>


      <div class="bg-circle-1 bg-circle"></div>
      <div class="bg-circle-3 bg-circle"></div>



    </header>

    <main>
        <section>
          <div class="container">
            <img src="{% static "landing_page/images/divider.jpg" %}" alt="divider.svg" style="margin-top:2rem;" width="100%" height="260">
              <h3 class="centered">Build For Every<br>Concerned Teacher</h3>
            <div class="row align-items-center">
              <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                  <img class="img-fluid" src="{% static "landing_page/images/a_1.png" %}" alt="">
                </div>
              </div>
              <div class="col-lg-6 order-lg-1">
                <div class="p-5 how">
                  <h3 class="display-5">Every Student Is Unique</h3>
                  <p class="paraText ml-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section>
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="p-5">
                  <img class="img-fluid" src="{% static "landing_page/images/a_2.png" %}" alt="">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="p-5 how">
                  <h2 class="display-5">Lorem Ipsum</h2>
                  <p class="paraText ml-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section>
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                  <img class="img-fluid" src="{% static "landing_page/images/how.png" %}" alt="">
                </div>
              </div>
              <div class="col-lg-6 order-lg-1">

                <div class="p-5 how">
                  <h2 class="display-5">Marks Speak!</h2>
                  <p class="paraText ml-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
    </main>

    <!-- Footer -->
    <footer class="py-5 bg-black">
      <div class="container">
        <p class="m-0 text-center text-white small mb-2 footer_text">Copyright &copy; LMS</p>
          <p class="m-0 text-center text-white small footer_text">Made With <i class="far fa-heart mx-1"></i>work</p>
      </div>

        <a class="scrollup" style="display: none;">Scroll</a>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static "landing_page/js/jquery.min.js" %}"></script>
    <script src="{% static "landing_page/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "landing_page/js/custom_script.js" %}"></script>

  </body>

</html>
