<!DOCTYPE html>
  <html>
    <head>
      <title>
        Login Page
      </title>
    </head>
    <body>
      <h1 style='color:cyan'>
        Login
      </h1>
        <div>
            {% if not user.is_authenticated %}

          <form method='post'>
            {% csrf_token %}
                {{ form.as_p }}
            <button type='submit'>Login</button>
              <a href='http://127.0.0.1:8000/lms/reset_password'>forgot password</a>
          </form>
                {% else %}
                You are logged in
            {% endif %}

        </div>
    </body>
  <html>
