<!DOCTYPE html>
  <html>
    <head>
      <title>
        Register Page
      </title>
    </head>
    <body>
      <h1 style='color:cyan'>
        Register
      </h1>
      <script>
      if ({{ value }} == true){
      window.alert('{{ error }}')
    }
      </script>
            <script>
                function prof_valid1() {
                                     var x = document.getElementById("prof_firstname").value;
                                     var patt = new RegExp("[^A-Za-z]");
                                     if (patt.test(x))
                                     {
                                         document.getElementById("demo1").innerHTML='Non alphabets are not allowed';

    }}
                function prof_valid2() {
                    var x = document.getElementById("prof_lastname").value;
                    var patt = new RegExp("[^A-Za-z]");
                    if (patt.test(x)) {
                        document.getElementById("demo2").innerHTML = 'Non alphabets are not allowed';

                    }

                }
                   function prof_valid3() {
                                     var x = document.getElementById('course_id').value;
                                     var patt = new RegExp("[^A-Za-z1-9]");
                                     if (patt.test(x))
                                     {
                                         document.getElementById("demo4").innerHTML='Non alphabets are not allowed';

    }



}

               function prof_valid4() {
                                     var x = document.getElementById('passwd2').value;
                                     var y = document.getElementById('password').value;

                                     if (x!=y)
                                     {
                                         document.getElementById("demo6").innerHTML='Passwords did not match';

    }



}

          </script>


          <form action='register_validation/' method='post'>
            {% csrf_token %}
            Professor_Firstname : <input type='text' name='prof_firstname' value='' placeholder='Professor_Firstname' id="prof_firstname" onchange="prof_valid1()"><p id="demo1" style="display: inline-block;"></p><br><br>
            Professor_Lastname : <input type='text' name='prof_lastname' value='' placeholder='Professor_Lastname' id="prof_lastname" onchange="prof_valid2()"><p id="demo2" style="display: inline-block;"></p><br><br>
            Eamil_id :  <input type='email' name='email_id' value='' placeholder='Email_Id' autocomplete="off" id="email_id"></p><br><br>
            Password : <input type='password' name='paswd1' value='' placeholder='Password' id="password"><p id="result" style="display: inline-block;"></p><br><br>
            Retype-Password : <input type='password' name='paswd2' value='' placeholder='Re-enter Password' id="passwd2" onchange="prof_valid4()"><p id="demo6" style="display: inline-block;"></p><br><br>
            <button type='submit'>Register</button>
          </form>

        </div>
    </body>
  </html>
