{% extends 'dashboard/base.html' %}

{% block head %}
<title>Dashboard</title>
{% endblock %}


{% block content %}

    <div class="wildcards row my-5">
      <div class="col-md-3 col-sm-12 mx-auto rounded well-container p-2 w-25">
        <div class="well">
          <h5 class="text-black"><!--<span class="label label-danger pull-right">- 9%</span>--> Deviation</h5>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 mx-auto rounded well-container p-2 w-25">
        <div class="well">
          <h5 class="text-black"><!--<span class="label label-success pull-right">+ 3%</span>--> Average </h5>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 mx-auto rounded well-container p-2 w-25">
        <div class="well">
          <h4 class="text-black"><!--<span class="label label-primary pull-right">201</span>--> Variance </h4>
        </div>
      </div>

    </div><!--/row-->

    <h2 class="display-4 my-2">Boxplot</h2>
    <div class="mx-auto" id="myDiv"></div>

    <script>
        var y0=[],y1=[]
        for ( i = 0; i < 50; i ++)
        {
            y0[i] = Math.random();
            y1[i] = Math.random();
        }

        var trace1 = {
          y: y0,
          type: 'box'
        };

        var trace2 = {
          y: y1,
          type: 'box'
        };

        var data = [trace1, trace2];

        Plotly.newPlot('myDiv', data);
    </script>

{% endblock %}
