{% extends 'dashboard/base.html' %}

{% block head %}
<title>Dashboard</title>
{% endblock %}


{% block content %}
    <div class="row mt-3">
        <div class="col-6">
            <div class="image-upload">
                <label for="file-input">
                    <i class="ml-5 fas fa-upload fa-2x" data-toggle="tooltip" title="Upload File"></i>
                </label>

                <input id="file-input" type="file"/>
            </div>
        </div>
        <div class="col-6"></div>
    </div>
    <div class="wildcards row my-5">
      <div class="col-md-3 col-sm-12 col-md-3 col-xs-12 mx-auto rounded well-container p-2 w-25">
        <div class="well">
          <h5 class="text-black"><!--<span class="label label-danger pull-right">- 9%</span>--> Overall Difficulty</h5>
            <p class="text-white p-2 display-4">+9%</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 col-md-3 col-xs-12 mx-auto rounded well-container p-2 w-25">
        <div class="well">
          <h5 class="text-black"><!--<span class="label label-success pull-right">+ 3%</span>--> Overall Risk </h5>
            <p class="text-white p-2 display-4">+9%</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 col-md-3 col-xs-12 mx-auto rounded well-container p-2 w-25">
        <div class="well">
          <h5 class="text-black"><!--<span class="label label-primary pull-right">201</span>--> Course Average </h5>
            <p class="text-white p-2 display-4">+9%</p>
        </div>
      </div>

    </div><!--/row-->

    <div class="container">

    </div>

    <h2 class="display-5 my-2">Boxplot</h2>
    <div class="mx-auto" id="myDiv"></div>

    <script>
        var y0=[],y1=[]
        for ( i = 0; i < 50; i ++)
        {
            y0[i] = Math.random();
            y1[i] = Math.random();
        }

        var trace1 = {
          y: y0,
          type: 'box'
        };

        var trace2 = {
          y: y1,
          type: 'box'
        };

        var data = [trace1, trace2];

        Plotly.newPlot('myDiv', data);
    </script>
    <script>
$("i").click(function () {
  $("input[type='file']").trigger('click');
});

$('input[type="file"]').on('change', function() {
  var val = $(this).val();
  $(this).siblings('span').text(val);
})
</script>

    <script>

    </script>


{% endblock %}

