{% extends 'dashboard/base.html' %}
{% load static %}

{% block head %}
    <title>Needy_List</title>
    <link rel="stylesheet" href="{% static "dashboard/css/needyStyle.css" %}">
{% endblock %}

{% block content %}

    <div id="students">
        <input class="search" placeholder="Search"/>
        <button class="sort" data-sort="name">
            Sort by name
        </button>


        <ul class="list">
            {% for student in allstudents %}

                <li>
                    <div class="row">
                        <div class="col-2">
                            <img class="rounded-circle mx-3" src="{% static 'dashboard/images/st6.jpg' %}"
                                 alt="Person"
                                 width="96"
                                 height="96">
                        </div>

                        <div class="col-10">
                            <div class="row chip my-2 w-100">
                                <a href="#">
                                    <span class="name pt-2 pl-3">{{ student.1 }}</span>
                                    <span class="text-right badge badge-danger ml-5">{{ student.2 }}</span>
                                    <span class="text-right badge badge-warning">{{ student.3 }}</span>
                                </a>
                                <button type="button" class="btn btn-info">See Report</button>
                            </div>
                        </div>

                    </div>
                <hr/>
                </li>

            {% endfor %}
            {##}
            {#            <li >#}
            {#                <div class="chip my-2 w-100">#}
            {#                    <a href="#"> <img src="{% static 'dashboard/images/st6.jpg' %}"#}
            {#                                      alt="Person"#}
            {#                                      width="96"#}
            {#                                      height="96">#}
            {#                        <span class="name">SS Bharadwaja</span>#}
            {#                        <span class="text-right badge badge-danger ml-5">Danger</span>#}
            {#                        <span class="text-right badge badge-warning">Warning</span>#}
            {#                    </a>#}
            {#                </div>#}
            {#            </li>#}
            {##}
            {#            <li >#}
            {#                <div class="chip my-2 w-100">#}
            {#                    <a href="#"> <img src="{% static 'dashboard/images/st6.jpg' %}"#}
            {#                                      alt="Person"#}
            {#                                      width="96"#}
            {#                                      height="96">#}
            {#                        <span class="name">Tanay Rathore</span>#}
            {#                        <span class="text-right badge badge-danger ml-5">Danger</span>#}
            {#                        <span class="text-right badge badge-warning">Warning</span>#}
            {#                    </a>#}
            {#                </div>#}
            {#            </li>#}
            {##}
            {#            <li >#}
            {#                <div class="chip my-2 w-100">#}
            {#                    <a href="#"> <img src="{% static 'dashboard/images/st6.jpg' %}"#}
            {#                                      alt="Person"#}
            {#                                      width="96"#}
            {#                                      height="96">#}
            {#                        <span class="name">Vineet Sharma</span>#}
            {#                        <span class="text-right badge badge-danger ml-5">Danger</span>#}
            {#                        <span class="text-right badge badge-warning">Warning</span>#}
            {#                    </a>#}
            {#                </div>#}
            {#            </li>#}
        </ul>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static "dashboard/js/list.min.js" %}"></script>
    <script>
        var options = {
            valueNames: ['name']
        };

        var userList = new List('students', options);
    </script>
{% endblock %}