{% extends 'dashboard/base.html' %}

{% block head %}
    <title>Needy_List</title>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-4 mx-auto">
            <div class="card d-inline-block my-5">
              <img class="card-img-top" src="http://placehold.it/250x150" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary m-2">See Report</a>
              </div>

              </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-4 mx-auto">
            <div class="card d-inline-block my-5">
                      <img class="card-img-top" src="http://placehold.it/250x150" alt="Card image cap">
                      <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                          <a href="#" class="btn btn-primary m-2">See Report</a>
                      </div>

              </div>

        </div>
    </div>


    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-4 mx-auto">
            <div class="card d-inline-block my-5">
              <img class="card-img-top" src="http://placehold.it/250x150" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary m-2">See Report</a>
              </div>

              </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-4 mx-auto">
            <div class="card d-inline-block my-5">
                      <img class="card-img-top" src="http://placehold.it/250x150" alt="Card image cap">
                      <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                          <a href="#" class="btn btn-primary m-2">See Report</a>
                      </div>

              </div>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-4 mx-auto">
            <div class="card d-inline-block my-5">
              <img class="card-img-top" src="http://placehold.it/250x150" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary m-2">See Report</a>
              </div>

              </div>
        </div>


    </div>

{% endblock %}
