{% extends 'dashboard/base.html' %}

{% block head %}
    <title>Needy_List</title>
{% endblock %}

{% block content %}


    <div class="row justify-content-center">
    {% for student in needyList %}
        <div class="col-xs-12 col-md-6 col-lg-4 mx-auto">
            <div class="card d-inline-block my-5">
              <img class="card-img-top" src="http://placehold.it/250x150" alt="Card image cap">
              <div class="card-block p-2">
                <h4 class="card-title">{{ student }}</h4>
                  <span class="badge badge-primary">Needy</span>
                  <span class="badge badge-secondary">Persepective</span>
                <p class="card-text">S20170010179</p>

              </div>

              </div>
        </div>
    {% endfor %}
    </div>


{% endblock %}
