/*html{*/
    /*max-width:100%;*/
/*}*/


/*body{*/
    /*background-color: white;*/
    /*max-width:100%;*/
/*}*/

/*!* Navbar START *!*/

 /*#header{*/
        /*transition: all 0.4s;*/
    /*}*/
      /**/
/*.bg-light{*/
        /*background-color: #efefef!important;*/
    /*}*/

/*.navbar{*/
    /*box-shadow: 0 0 5px 0;*/
/*}*/

/*.navbar-brand{*/
    /*height:48px;*/
    /*padding:2px 10px;*/
/*}*/

/*.nav-menu{*/
    /*height:28px;*/
/*}*/

/*!* Navbar END *!*/


/*.hero-section{*/
    /*background:url('')*/
/*}*/

/*.jumbotron{*/
    /*padding:0.3rem;*/
    /*z-index:1;*/
    /*background-color: #f1f0f0;*/
    /*box-shadow:2px 3px 3px 2px #afafaf;*/
    /*transition: transform .5s;*/
/*}*/





/*.jumbotron:hover{*/
    /*transform : scale(1.015) */
/*}*/

/*.needy-icon{*/
    /*z-index:2;*/
    /*position: relative;*/
    /*margin-left:0;*/
    /*margin-top:0;*/
/*}*/

/*.name-chip{*/
    /*z-index:2;*/
    /*margin:1rem; */
    /*font-weight:bold;*/
/*}*/


/*.student-image{*/
    /*width:64px;*/
    /*height:64px;*/
    /*position: absolute;*/
    /*z-index:3;*/
    /*border-radius:45px;*/
/*}*/

/*.name-heading{*/
    /*z-index:2;*/
    /*padding-left:0px;*/
    /*padding-top:12px;*/
    /*padding-bottom:22px;*/
    /*font-size:20px;*/
    /*background-color: green;*/
/*}*/



/*.chip {*/
    /*z-index:2;*/
    /*display: inline-block;*/
    /*padding: 0 25px;*/
    /*height: 50px;*/
    /*font-size: 0.75rem;*/
    /*line-height: 50px;*/
    /*border-radius: 25px;*/
    /*background-color: #19f55e;*/
    /*box-shadow:4px 4px 6px 0px #afafaf;*/
    /*transition:transform 0.2s;*/
    /*transition:letter-spacing 0.3s;*/
    /**/

/*}*/

/*@media only screen and (min-width:430px){*/
/*.chip:hover{*/
    /*transform:scale(1.03);*/
    /*letter-spacing:1px;*/
    /*}*/
/*}*/

/*.chip img {*/
    /*z-index:3;*/
    /*float: left;*/
    /*margin: 0 10px 0 -25px;*/
    /*height: 50px;*/
    /*width: 50px;*/
    /*border-radius: 50%;*/
    /*box-shadow:4px 6px 8px 0px #afafaf;*/
/*}*/

/*.jumbotron.large-jumbotron{*/
    /*z-index:2;*/
    /*width:80%!important; */
    /*margin:3rem auto; */
    /*padding:1.2rem;*/
/*}*/

/*.jumbotron.small-jumbotron{*/
    /*box-shadow:2px 3px 3px 2px #afafaf;*/
    /*z-index:2;*/
    /*padding-left:0.3rem;*/
/*}*/


/*input[type=text] {*/
    /*width: 60%;*/
    /*border:2px blue solid;*/
    /*border-radius:1rem;*/
    /*outline:none;*/
    /*-webkit-transition: width 0.4s ease-in-out;*/
    /*transition: width 0.4s ease-in-out;*/
    /*color: #afafaf;*/
/*}*/



/*!* When the input field gets focus, change its width to 100% *!*/
/*input[type=text]:hover {*/
    /*width: 78%;*/
/*}*/

/*.btn{*/
    /*width:auto;*/
    /*border-radius: 2rem;*/
    /*font-size:0.8rem;*/
    /*padding:0.5rem 0.5rem;*/
    /*font-weight:bold;*/
    /*box-shadow:1px 2px 3px 1px #afafaf;*/
    /*transition-property: transform, letter-spacing, width;*/
    /*transition-duration: .4s, .4s, .4s;*/
   /**/
  /**/
/*}*/

/*.btn:hover{*/
    /*width:auto;*/
    /*transform:scale(1.05);*/
    /*letter-spacing:1px;*/
/*}*/


/*.fa-upload{*/
    /*transition:transform 0.1s;*/
/*}*/

/*.fa-upload:hover{*/
    /*transform:scale(1.05);*/
/*}*/

/*#setting:hover {*/
    /*-webkit-animation: rotation 2s infinite linear;*/
/*}*/

/*@-webkit-keyframes rotation {*/
    /*from {*/
            /*-webkit-transform: rotate(0deg);*/
    /*}*/
    /*to {*/
            /*-webkit-transform: rotate(359deg);*/
    /*}*/
/*}*/


@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

body{
    overflow-x: auto;
}


p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}




a,
a:hover,
a:focus {
    color: blue;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #000;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
	min-height:100%;
    background: white;
    color: #fff;
 -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0% 100%);
clip-path: polygon(0 0, 100% 0, 100% 96%, 0% 100%);
    transition: all 0.3s;

}

#sidebar.active{
    height: 64;
    width:64;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #343a40;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;

}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding:40px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

#sidebarCollapse{
    margin:0.7rem;
	margin-top:3rem;
}

.nav-link{
	color:white;
}

.nav-link:hover{
	color:#adadad;
}

.wildcards{
    height:17%;

}

.well-container{
    border:1px solid lightgray;
    height:150px;
    -webkit-clip-path: polygon(90% 0, 100% 11%, 100% 100%, 0 100%, 0 0);
clip-path: polygon(90% 0, 100% 11%, 100% 100%, 0 100%, 0 0);

}


.well-container:nth-of-type(1){
    /*background: rgba(255,92,13,1);*/
/*background: -moz-radial-gradient(center, ellipse cover, rgba(255,92,13,1) 0%, rgba(255,92,13,0.72) 46%, rgba(255,146,10,0.4) 100%);*/
/*background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,92,13,1)), color-stop(46%, rgba(255,92,13,0.72)), color-stop(100%, rgba(255,146,10,0.4)));*/
/*background: -webkit-radial-gradient(center, ellipse cover, rgba(255,92,13,1) 0%, rgba(255,92,13,0.72) 46%, rgba(255,146,10,0.4) 100%);*/
/*background: -o-radial-gradient(center, ellipse cover, rgba(255,92,13,1) 0%, rgba(255,92,13,0.72) 46%, rgba(255,146,10,0.4) 100%);*/
/*background: -ms-radial-gradient(center, ellipse cover, rgba(255,92,13,1) 0%, rgba(255,92,13,0.72) 46%, rgba(255,146,10,0.4) 100%);*/
/*background: radial-gradient(ellipse at center, rgba(255,92,13,1) 0%, rgba(255,92,13,0.72) 46%, rgba(255,146,10,0.4) 100%);*/
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5c0d', endColorstr='#ff920a', GradientType=1 );*/
}

.well-container:nth-of-type(2){
   /*background: rgba(255,92,13,1);*/
/*background: -moz-radial-gradient(center, ellipse cover, rgba(255,92,13,1) 0%, rgba(255,92,13,0.72) 46%, rgba(255,146,10,0.4) 100%);*/
/*background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,92,13,1)), color-stop(46%, rgba(255,92,13,0.72)), color-stop(100%, rgba(255,146,10,0.4)));*/
/*background: -webkit-radial-gradient(center, ellipse cover, rgba(255,92,13,1) 0%, rgba(255,92,13,0.72) 46%, rgba(255,146,10,0.4) 100%);*/
/*background: -o-radial-gradient(center, ellipse cover, rgba(255,92,13,1) 0%, rgba(255,92,13,0.72) 46%, rgba(255,146,10,0.4) 100%);*/
/*background: -ms-radial-gradient(center, ellipse cover, rgba(255,92,13,1) 0%, rgba(255,92,13,0.72) 46%, rgba(255,146,10,0.4) 100%);*/
/*background: radial-gradient(ellipse at center, rgba(255,92,13,1) 0%, rgba(255,92,13,0.72) 46%, rgba(255,146,10,0.4) 100%);*/
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5c0d', endColorstr='#ff920a', GradientType=1 );*/
}

.well-container:nth-of-type(3){
     /*background: rgba(255,92,13,1);*/
/*background: -moz-radial-gradient(center, ellipse cover, rgba(255,92,13,1) 0%, rgba(255,92,13,0.72) 46%, rgba(255,146,10,0.4) 100%);*/
/*background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,92,13,1)), color-stop(46%, rgba(255,92,13,0.72)), color-stop(100%, rgba(255,146,10,0.4)));*/
/*background: -webkit-radial-gradient(center, ellipse cover, rgba(255,92,13,1) 0%, rgba(255,92,13,0.72) 46%, rgba(255,146,10,0.4) 100%);*/
/*background: -o-radial-gradient(center, ellipse cover, rgba(255,92,13,1) 0%, rgba(255,92,13,0.72) 46%, rgba(255,146,10,0.4) 100%);*/
/*background: -ms-radial-gradient(center, ellipse cover, rgba(255,92,13,1) 0%, rgba(255,92,13,0.72) 46%, rgba(255,146,10,0.4) 100%);*/
/*background: radial-gradient(ellipse at center, rgba(255,92,13,1) 0%, rgba(255,92,13,0.72) 46%, rgba(255,146,10,0.4) 100%);*/
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5c0d', endColorstr='#ff920a', GradientType=1 );*/
}

h5::after{
 content:' ';
    position: absolute;
    display:block;
    width: 20px;
  	margin: 0 2%;
    border:2px solid #000;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);

}

footer.bg-dark{
    background-color: black;
    -webkit-clip-path: polygon(0 36%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 36%, 100% 0, 100% 100%, 0% 100%);
}


.image-upload > input
{
    display: none;
}

.fa-upload{
    transition: transform 0.4s;
}

.fa-upload:hover{
    transform: scale(1.2);
}


.dashboard-body{
    background-color: lightgray;
    overflow-x: hidden;
}

#myDiv{
    width:100%;
}


.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 80px;
    cursor: pointer;
}




.fa-download:hover{
    cursor: pointer;
    color: blue;
    transition: color 0.3s;
}