{% extends 'base.html' %}
    {% block head %}
        <title>Student Graphs</title>
        {% load static %}
        <script src="{% static 'Chart.bundle.js' %}"></script>
        <script src="{% static 'utils.js' %}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'w3.css' %}">
    {% endblock head %}
    {% block content %}
        <div style="width: 100%;">
    	    <canvas id="myChart"></canvas>
	    </div>
	    <div style="width: 50%; float:left;">
	        <canvas id="myChart1" style="height:50%;"></canvas>
	    </div>
	    <div style="width: 50%; float:right;">
	        <canvas id="myChart2" style="height:50%;"></canvas>
	    </div>
        <script>
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [{% for result in results %}"{{ result.student.name }}",{% endfor %}"Average"],
                    datasets: [{
                        label: "{{ quiz.name }}",
                        data: [{% for result in results %}{{ result.marks }},{% endfor %}{{ avg }}],
                        backgroundColor: "rgba(153,255,51,0.6)"
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                steps: 20,
                                stepValue: 5,
                                max: 100
                            }
                        }]
                    }
                }
            });
            var ctx = document.getElementById("myChart1").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [{% for result in results %}"{{ result.student.name }}",{% endfor %}"Average"],
                    datasets: [{
                        label: "{{ quiz.name }}",
                        data: [{% for result in results %}{{ result.marks }},{% endfor %}{{ avg }}],
                        borderColor: "rgba(151,153,255,0.6)",
                        backgroundColor: "rgba(151,153,255,0.6)",
                        fill : false,
                    }]
                }
            });
            var ctx = document.getElementById("myChart2").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: [{% for result in results %}"{{ result.student.name }}",{% endfor %}"Average"],
                    datasets: [{
                        label: "{{ quiz.name }}",
                        data: [{% for result in results %}{{ result.marks }},{% endfor %}{{ avg }}],
                        backgroundColor: "rgba(255,151,53,0.6)"
                    }]
                }
            });
        </script>
    {% endblock content %}