{% extends 'base.html' %}

{% block content %}
	<form method="POST" accept-charset="utf-8">{% csrf_token %}
		<select name="rollno">
			{% for student in students %}
				<option value= "{{ student.rollno }}">{{ student.name }}</option>
			{% endfor %}
		</select>
		<button type="submit">Submit</button>
	</form>
	<div>
		{{ student }}
		{{ quizzes }}
	</div>
	<canvas id="myChart"></canvas>
	<script>
		var ctx = document.getElementById("myChart").getContext('2d');
		var myChart = new Chart(ctx, {
			type: 'bar',
			data: {
				labels: ["Test1", "Test2", "Test3", "Test4", "Test5", "Test6", "Test7",],
				datasets: [{
					label: 'Aniket',
					data: [12, 19, 3, 17, 28, 24, 7],
					backgroundColor: "rgba(153,255,51,0.6)"
				}, {
					label: 'Suvarat',
					data: [30, 29, 5, 5, 20, 3, 10],
					backgroundColor: "rgba(255,153,0,0.6)"
				},{
					label: 'Dhruv',
					data: [45, 65,15, 85, 20, 35, 75],
					backgroundColor: "rgba(221,123,24,0.6)"
				},{
					label: 'Shashwat',
					data: [60, 85, 56, 57, 25, 71, 30],
					backgroundColor: "rgba(153,240,0,0.6)"
				}]
			}
		});
	</script>
{% endblock content %}